@import "./_vars.less";

@{NAMESPACE}__components-designer {
  &__canvas {
    width: 100%;
    height: 60vh;
    background: #f9f9f9;
  }
  @{NAMESPACE}__sidebar--right @{NAMESPACE}__drag-box {
    width: 50%;
    float: left;
  }
}
