@import "./_vars.less";

.formast {
  &__input,
  &__textarea,
  &__select {
    margin: 10px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    background-color: #fff;
    border: #dedede solid 1px;
    padding: 5px;
    display: flex;
  }

  &__input input,
  &__textarea textarea,
  &__select select {
    flex: 1;
    border: 0;
    background: transparent;
  }

  &__textarea textarea {
    resize: vertical;
    min-height: 40px;
  }
}
