@import "./_vars.less";

@{NAMESPACE} {
  &__input {
    padding: 10px;
    border: @BORDER;
    outline: none;

    &--small {
      padding: 5px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      text-align: right;
    }
  }

  &__select {
    padding: 9px 10px;
    border: @BORDER;
    outline: none;
  }

  &__textarea {
    padding: 10px;
    border: @BORDER;
    outline: none;
    height: 1em;
    min-height: calc(1em + 2px);
    resize: vertical;
  }

  &__label {
    padding: 10px;
    text-align: right;
    width: 160px;
  }

  &__form {
    width: 100%;

    ::placeholder {
      color: #ccc;
    }

    &-item {
      padding: 10px;
      display: flex;
      align-items: center;

      &--rich {
        display: flex;
        align-items: flex-start;
      }
    }

    &-item @{NAMESPACE}__input,
    &-item @{NAMESPACE}__textarea,
    &-item @{NAMESPACE}__select {
      flex: 1;
    }

    &-loop-item {
      display: flex;
      align-items: center;
    }

    &-loop-item__content {
      flex: 1;
    }

    &-loop-item__buttons {
      white-space: nowrap;
    }

    &-loop-item__content &-item {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-loop-item__content @{NAMESPACE}__label {
      width: 130px;
    }

    &--aside &-item {
      flex-wrap: wrap;
    }

    &--aside @{NAMESPACE}__label {
      width: 100%;
      text-align: left;
      padding-left: 0;
    }

    &--aside @{NAMESPACE}__input--small {
      width: 100%;
      text-align: left;
    }

    &--aside &-loop {
      background-color: rgba(200, 200, 200, .1);
      padding-bottom: 20px;
    }

    &--aside &-loop-item {
      display: block;
    }

    &--aside @{NAMESPACE}__line {
      display: none;
    }
  }
}
