@import "./_vars.less";

.formast {
  &__input,
  &__textarea {
    margin: 10px;
  }

  &__input input,
  &__textarea textarea {
    width: calc(100% - 10px);
    border: #dedede solid 1px;
    padding: 5px;
  }

  &__textarea {
    padding-bottom: 10px;
  }
  &__textarea textarea {
    resize: vertical;
    height: calc(1em + 4px);
    min-height: calc(1em + 4px);
  }
}
