@import "./_vars.less";

@{NAMESPACE}__layout-designer {
  &__settings {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @{NAMESPACE}__label {
      width: 80px;
    }

    &-menus {
      display: flex;
      align-items: flex-start;
    }
    &-menu {
      margin: 10px;
      margin-right: 0;
      font-size: 12px;
      cursor: pointer;

      &--active {
        color: @PRIMARY_COLOR_DARK;
        border-bottom: @PRIMARY_COLOR_DARK solid 3px;
      }
    }
  }
  &__setting {
    flex: 1;
    overflow: auto;
  }
}
